{% extends 'users/mail/layout.html' %}

{% block content %}
    <div class="mt-5">
        <h1>Splice Auth</h1>
        <h2>User Confirmation</h2>
    </div>
    <div class="alert alert-danger mt-3" role="alert">
        <h4 class="alert-heading">Danger!</h4>
        <p>This is an automated mail sent after a successful user registration. You can activate your account by
            providing this confirmation code.</p>
        <hr>
        <p class="mb-0">If you didn't register an account please ignore this mail.</p>
    </div>
    <div class="mt-3">
        <form action="">
            <label for="code" class="mb-1">User Confirmation Code</label>
            <div class="input-group mb-3">
                <input type="text" id="code" class="form-control" value="{{ code }}"
                       readonly
                       aria-label="Password Reset Code" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        data-clipboard-target="#code">Copy
                </button>
            </div>
        </form>
    </div>
    <div class="mt-3">
        You can also click
        <a href="http://127.0.0.1:8001/api/users/create/confirm/template/?confirmation_code={{ code }}"
           class="link-primary">here</a> to confirm your user.
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <script type="module">
        let clipboard = new ClipboardJS('.btn');

        clipboard.on('success', function (e) {
            console.log(e);
        });

        clipboard.on('error', function (e) {
            console.log(e);
        });
    </script>
{% endblock %}
